{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="container mt-5">

    <h2>Carros registrados</h2>

    <a href="/carros/new" class="btn btn-primary mb-3">➕ Nuevo Carro</a>

    <div class="row">
        {% for carro in carros %}
        <div class="col-md-4 mb-3">
            <div class="card shadow">

                {% if carro.img %}
                <img src="{{ carro.img }}" class="card-img-top" style="height:180px; object-fit:cover;">
                {% endif %}

                <div class="card-body">
                    <h5>{{ carro.marca }} {{ carro.modelo }}</h5>
                    <p>Placa: {{ carro.placa }}</p>

                    <a href="/carros/editar/{{ carro.id }}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="/carros/eliminar/{{ carro.id }}" class="btn btn-danger btn-sm">Eliminar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% include 'footer.html' %}
