{% include 'header.html' %}
{% include 'navbar.html' %}

<body>
<div class="container mt-5 text-center">

    <h1>Bienvenido a la pagina de Taller AutoFix Pro</h1>
    <p class="lead">Gestione clientes, vehículos y genere reportes dinámicos.</p>

    <img 
        width="300" 
        height="300" 
        src="https://flasmyfxbgswthcpdyqf.supabase.co/storage/v1/object/public/Taller-mult/Main/princi.jpg" 
        alt="Taller Mecánico"
        class="mt-3"
    >

</div>
</body>

{% include 'footer.html' %}
