{% include 'header.html' %}
{% include 'navbar.html' %}
<body>
<div class="container mt-5">
    <h1>Bienvenido a la pagina de Taller AutoFix Pro</h1>
    <p class="lead">Gestione clientes, vehículos y genere reportes dinámicos.</p>
    
   <!-- Este es un comentario de una sola línea //<p>  {{ texto }} </p>//-->

    <div>
        <img width="300" height="300" src="https://images.pexels.com/photos/1592384/pexels-photo-1592384.jpeg" alt="Taller Mecánico">
    </div>
</div>
</body>
{% include 'footer.html' %}