{% include 'header.html' %}
{% include 'navbar.html' %}
<body>
<div class="container mt-5">
    <h1>Bienvenido a la pagina de Taller AutoFix Pro</h1>
    <p class="lead">Gestione clientes, vehículos y genere reportes dinámicos.</p>
    
   <!-- Este es un comentario de una sola línea //<p>  {{ texto }} </p>//-->

    <div>
        <img width="300" height="300" src="https://flasmyfxbgswthcpdyqf.supabase.co/storage/v1/object/public/Taller-mult/Main/princi.jpg" alt="Taller Mecánico">
    </div>
</div>
</body>
{% include 'footer.html' %}