{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="container mt-4">

    <h2>Registrar Mecánico</h2>

    <form method="post" action="/mecanicos/new">
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Especialidad</label>
            <input type="text" class="form-control" name="especialidad" required>
        </div>

        <button class="btn btn-success w-100">Guardar</button>
    </form>

</div>

{% include 'footer.html' %}
