{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="container mt-4">

    <h2>Editar Mecánico</h2>

    <form method="post" action="/mecanicos/editar/{{ mecanico.id }}">
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" value="{{ mecanico.nombre }}" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Especialidad</label>
            <input type="text" class="form-control" name="especialidad" value="{{ mecanico.especialidad }}" required>
        </div>

        <button class="btn btn-primary w-100">Actualizar</button>
    </form>

</div>

{% include 'footer.html' %}
