{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    Registrar Carro
                </div>
                <div class="card-body">
                    <form method="post" action="/carros/new">

                        <label class="form-label">Marca</label>
                        <input class="form-control" name="marca" required>

                        <label class="form-label">Modelo</label>
                        <input class="form-control" name="modelo" required>

                        <label class="form-label">Placa</label>
                        <input class="form-control" name="placa" required>

                        <label class="form-label mt-2">Cliente</label>
                        <select class="form-select" name="cliente_id" required>
                            {% for cliente in clientes %}
                                <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
                            {% endfor %}
                        </select>

                        <button class="btn btn-success mt-3">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
