{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="container mt-4">

    <h2>Reparaciones Eliminadas</h2>

    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Descripción</th>
                <th>Carro</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for r in reparaciones %}
            <tr>
                <td>{{ r.id }}</td>
                <td>{{ r.descripcion }}</td>
                <td>{{ r.carro.marca }} {{ r.carro.modelo }} - {{ r.carro.placa }}</td>
                
                <td>
                    <a href="/reparaciones/restaurar/{{ r.id }}" class="btn btn-success btn-sm">Restaurar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% include 'footer.html' %}
